.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu-item{
  margin: 10px;
}
.nav-bar-item{
  display: block;
}
.nav-bar{
  margin: 10px;
  display: inline-block;
}
.nav-bar:hover .sub-list{
  display: block;
}
.sub-list_item{
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: block;
}
.sub-list_item:hover,.nav-bar-item{
  color: cadetblue;
}
.sub-list{
  padding: 10px 20px;
  width: 100px;
  background-color: #313744;
  position: absolute;
  float: bottom;
  display: none;
}

.nav-bar-item{
  text-decoration: none;
  color: azure;
  margin: 0px 30px;
  display: inline;
}
.nav-bar-item:hover{
  color: cadetblue;
}
.menu-active{
  color:lightseagreen;
}